
<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Facebook</title>
</head>
<body>
    <ngx-loading-bar [includeSpinner]="false" [height]="20" color="#554CAD"></ngx-loading-bar>
    <div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
        <div>
            <img src="assets/img/logo.png" alt="" height="50px" width="50px" class="logo">

        </div>
    </div>
    <div class="uk-grid-small  uk-child-width-expand@s" uk-grid>
        <div>
            <div>
                <div class="uk-card uk-box-shadow-medium uk-padding uk-card-default uk-card-body ">
                    <form class="uk-text-center">

                        <div class="uk-margin" style="margin-top:40px">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: user"></span>
                                <input class="uk-input" type="email" placeholder="Email">
                            </div>
                        </div>
                    
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                                <input class="uk-input" type="password" placeholder="Password">
                            </div>
                        </div>
                    
                    </form>
                    <div class="uk-column-1-2@l uk-column-divider">
                        <p uk-margin>
                            <button class="uk-button uk-button-default login-btn">SIGNUP</button>
                        </p>
                        <p uk-margin>
                            <button class="uk-button uk-button-default">LOGIN</button>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

        
    <br><br><br><br><br><br><br><br><br>
   
</body>

</html>