
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook</title>
</head>
<body>
       <facebook-navbar [id]="userId"></facebook-navbar>
        <ngx-loading-bar [includeSpinner]="false"  color="#554CAD"></ngx-loading-bar>
        <div class="container-fluid">
            <div class="sidebar">
               <div class="uk-grid">
                   <div><img [src]="profileImage" alt="" class="profile"></div>
                   <div><h2 class="name">{{name}}</h2></div>
               </div>
               <div class="uk-grid">
                <button class="uk-button uk-button-default uk-button-defaultz">Friends</button>
               </div>
               <!-- <div class="uk-grid">
                <button class="uk-button uk-button-default uk-button-defaultz">Gallery</button>
               </div> -->
               <div class="uk-grid">
                <button class="uk-button ik-button-default uk-button-defaultz" (click)="toProfile()">Wall</button>
               </div>
    
              </div>
    
    
              <div class="row">
                  <div class="col-12">
                    <div class="uk-card uk-card-default uk-card-body upload-card">
                        <div class="row">
                            <div class="col-12">
                                <form [formGroup]="postForm">
                                    <div class="uk-form-controls">
                                        <input class="uk-input put-post" id="form-stacked-text" type="text"  autocomplete="off"  placeholder=" Whats's on your mind ?" formControlName="text">
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <img src="https://img.icons8.com/cotton/64/000000/stack-of-photos.png" class="gallery-img" height="35px" width="35px"/>
                                        </div>
                                        <div class="col-9">
                                            <div class="uk-margin">
                                                <div uk-form-custom>
                                                    <input type="file" formControlName ="file" (change)="selected($event)">
                                                    <button class="uk-button uk-button-default file-button" type="button" tabindex="-1">Choose Photos</button>
                                                </div>
                                            </div>
                                    </div>
                                    </div>
                                        
                                    <div class="row">
                                        <div class="col-12">
                                            <button class="uk-button uk-button-default post-submit" type="submit" (click)="post()">Post</button>
                
                                        </div>
                                    </div>
                                </form>
                            </div>
                                
                        </div>
                        
                    </div>
                  </div>
              </div>
              <div class="row" *ngIf="postsLength==0">
                  <div class="col-sm-12">
                      <h1 class="no-posts">There are no posts to show</h1>
                  </div>
              </div>
              <div *ngFor = "let post of posts">
                <div class="row" *ngIf="postsLength>0">
                    <div class="col-8">
                      <div class="post-card">
                          <div class="uk-card uk-card-post uk-card-default">
                              <div class="uk-card-media-top">
                                  <img [src]="post.path" alt="" class="post-image">
                              </div>
                              <div class="uk-card-body">
                                  <div class="row">
                                      <div class="col-2">
                                          <img [src]="post.profile" alt=""class="post-user">
                                      </div>
                                      <div class="col-10">
                                          <h2 class="post-name">{{post.user_name}}</h2>
              
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-12">
                                          <h3 class="post-content">{{post.caption}}</h3>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-4">
                      <div class="card comment-card" style="width: 25rem;">
                          <div class="uk-card-body">
                              <form class="uk-grid-small" uk-grid [formGroup]="commentForm">
                                  <div class="uk-width-1-1@s">
                                      <input class="uk-input text-center" formControlName="text" type="text" placeholder="Whats your say ?" >
                                  </div>
                                  <div class="uk-width-1-1@s">
                                      <input class="uk-input comment-button"  type="button" value="Comment" (click)="comment(post)" >
                                  </div>
                              </form>
                          </div>
                          <div  class="scroll">
                              <hr>
                              <ul class="list-group list-group-flush" *ngFor="let comment of post.comments">
                                  <li class="list-group-item">
                                      <p class="comment-name">{{comment.profile.fname+' '+comment.profile.lname}}</p>
                                      <p class="comment-text">{{comment.text}}</p>
                                  </li>
                                </ul>
                          </div>
                        </div>
                    </div>
                </div>
      
                
                
              </div>
              
    
              
              <!-- <div class="uk-grid">
                <div><img src="assets/img/man.jpg" alt=""class="post-user"></div>
                <div><h2 class="post-name">Henry Jackson</h2></div>
            </div>
            <div class="uk-grid">
                <div>
                    <h3 class="post-content">Enjoying the bliss of life.</h3>
                </div>
            </div> -->
    
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
   
</body>
</html>