
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
        <nav class="uk-navbar-container" uk-navbar>

            <div class="uk-navbar-left">
        
                <ul class="uk-navbar-nav">
                    <li><h2 class="logo">FACEBOOK</h2></li>
                    <!-- <div class="uk-margin">
                        <form class="uk-search uk-search-default">
                            <a href="" class="uk-search-icon-flip" uk-search-icon></a>
                            <input class="uk-search-input" type="search" placeholder="Search...">
                        </form>
                    </div>             -->
                </ul>
        
            </div>
    
            <div class="uk-navbar-center">
        
                <ul class="uk-navbar-nav">
                    <li class="uk-active "><a href="#"><img src="assets/img/home.svg" alt="" height="20px" width="20px" class="nav-cen"></a></li>
                    <li class="uk-active"><a href="#"><img src="assets/img/notification.svg" alt="" height="20px" width="20px"class="nav-cen"></a></li>
                    <li class="uk-active"><a href="#"><img src="assets/img/account.svg" alt="" height="20px" width="20px" class="profile-pic"></a></li>
                    <li class="uk-active"><a href="#"><img src="assets/img/team.svg" alt="" height="20px" width="20px" style="margin-left:20px"></a></li>
                    <li class="uk-active"><a href="#"><img src="assets/img/search.png" alt="" height="20px" width="20px" style="margin-left:20px"></a></li>
                          
                </ul>
            </div>
        
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="#"><img src="assets/img/settings.svg" alt="" height="20px" width="20px" style="margin-bottom: 10px;margin-right: 40px;"></a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href="#">Reset Password</a></li>
                                <li><a href="#">Log Out</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
        
            </div>
        </nav>
    </div>
    <ngx-loading-bar [includeSpinner]="false" [height]="20" color="#554CAD"></ngx-loading-bar>
    
        <div class="sidebar">
           <div class="uk-grid">
               <div><img src="assets/img/man.jpg" alt="" class="profile"></div>
               <div><h2 class="name">Henry Jackson</h2></div>
           </div>
           <div class="uk-grid">
            <button class="uk-button uk-button-default uk-button-defaultz">Friends</button>
           </div>
           <div class="uk-grid">
            <button class="uk-button uk-button-default uk-button-defaultz">Gallery</button>
           </div>
           <div class="uk-grid">
            <button class="uk-button ik-button-default uk-button-defaultz">Wall</button>
           </div>

          </div>


          <div class="row">
              <div class="col-12">
                <div class="uk-card uk-card-default uk-card-body upload-card">
                    <div class="row">
                        <div class="col-12">
                            <form>
                                <div class="uk-form-controls">
                                    <input class="uk-input put-post" id="form-stacked-text" type="text" placeholder=" Whats's on your mind ?">
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <img src="https://img.icons8.com/cotton/64/000000/stack-of-photos.png" class="gallery-img" height="35px" width="35px"/>
                                    </div>
                                    <div class="col-9">
                                        <form>
                                            <div class="uk-margin">
                                                <div uk-form-custom>
                                                    <input type="file">
                                                    <button class="uk-button uk-button-default file-button" type="button" tabindex="-1">Choose Photos</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <button class="uk-button uk-button-default post-submit" type="submit">Post</button>
            
                                    </div>
                                </div>
                            </form>
                        </div>
                            
                    </div>
                    
                </div>
              </div>
          </div>

          <div class="row">
              <div class="col-8">
                <div class="post-card">
                    <div class="uk-card uk-card-post uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="assets/img/nature.jpg" alt="">
                        </div>
                        <div class="uk-card-body">
                            <div class="row">
                                <div class="col-2">
                                    <img src="assets/img/man.jpg" alt=""class="post-user">
                                </div>
                                <div class="col-10">
                                    <h2 class="post-name">Henry Jackson</h2>
        
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <h3 class="post-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio debitis deserunt non expedita hic exercitationem officiis earum, placeat iure voluptatem? Libero aliquam.</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                  <a><i class="fa fa-heart-o fa-lg" aria-hidden="true"></i></a>
                                </div>
                                <div class="col-3">
                                    <a><i class="fa fa-comment-o fa-lg" aria-hidden="true"></i></a>
                                </div>
                                <div class="col-6">
                                    <p class="post-date">Posted On : 31/03/2020</p>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
              <div class="col-4">
                <div class="card comment-card" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Cras justo odio</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                  </div>
              </div>
          </div>

          
          

          
          <!-- <div class="uk-grid">
            <div><img src="assets/img/man.jpg" alt=""class="post-user"></div>
            <div><h2 class="post-name">Henry Jackson</h2></div>
        </div>
        <div class="uk-grid">
            <div>
                <h3 class="post-content">Enjoying the bliss of life.</h3>
            </div>
        </div> -->

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
   
</body>
</html>