<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container-fluid">
        <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
            <nav class="uk-navbar-container" uk-navbar>
    
                <div class="uk-navbar-left">
            
                    <ul class="uk-navbar-nav">
                        <li><h2 class="logo">FACEBOOK</h2></li>
                        <!-- <div class="uk-margin">
                            <form class="uk-search uk-search-default">
                                <a href="" class="uk-search-icon-flip" uk-search-icon></a>
                                <input class="uk-search-input" type="search" placeholder="Search...">
                            </form>
                        </div>             -->
                    </ul>
            
                </div>
        
                <div class="uk-navbar-center">
            
                    <ul class="uk-navbar-nav">
                        <li class="uk-active " ><a href="#"><img src="assets/img/home.svg" alt="" height="20px" width="20px" class="nav-cen"></a>
                        </li>
                        <li class="uk-active"><a href="#"><img src="assets/img/notification.svg" alt="" height="20px" width="20px"class="nav-cen"></a></li>
                        <li class="uk-active"><a href="#"><img src="assets/img/account.svg" alt="" height="20px" width="20px" class="profile-pic"></a></li>
                        <li class="uk-active"><a href="#"><img src="assets/img/team.svg" alt="" height="20px" width="20px" style="margin-left:20px"></a>
                        </li>
                        <li class="uk-active"><a [routerLink]="['/search']"><img src="assets/img/search.png" alt="" height="20px" width="20px" style="margin-left:20px"></a></li>
                              
                    </ul>
                </div>
            
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav">
                        <li>
                            <a href="#"><img src="assets/img/settings.svg" alt="" height="20px" width="20px" style="margin-bottom: 10px;margin-right: 40px;"></a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li><a href="#">Reset Password</a></li>
                                    <li><a href="#">Log Out</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
            
                </div>
            </nav>
        </div>
        <ngx-loading-bar [includeSpinner]="false"  color="#554CAD"></ngx-loading-bar>
        <div class="row">
            <div class="col-12">
              <div class="uk-card uk-card-default uk-card-body profile-card">
                  <div class="row">
                      <div class="col-12">
                         <img [attr.src]="profileImage | safe:'resourceUrl' " alt="" class="profile-pic-user">
                      </div>
                          
                  </div>
                  <div class="row">
                      <div class="col-12">
                          <h2 class="profile-name">{{name}}</h2>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                        <h2 class="profile-city">{{city}} ,India</h2>
                    </div>
                </div>
                  <div class="row">
                      <div class="col-12">
                        <button class="uk-button uk-button-default uk-button-edit">Edit Account</button>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-12">
                        <button class="uk-button uk-button-default uk-button-delete">Delete Account</button>
                      </div>
                  </div>
              </div>
            </div>
        </div>
        <div class="row" *ngFor="let post of wallPosts">
            <div class="col-6">
              <div class="post-card">
                  <div class="uk-card uk-card-post uk-card-default">
                      <div class="uk-card-media-top">
                          <img [src]="post.path" alt="" class="post-image">
                      </div>
                      <div class="uk-card-body">
                          <div class="row">
                              <div class="col-2">
                                  <img [attr.src]="profileImage | safe:'resourceUrl' " alt=""class="post-user">
                              </div>
                              <div class="col-10">
                                  <h2 class="post-name">{{name}}</h2>
      
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-12">
                                  <h3 class="post-content">{{post.caption}}</h3>
                              </div>
                          </div>
                          <!-- <div class="row">
                              <div class="col-3">
                                <a><i class="fa fa-heart-o fa-lg" aria-hidden="true"></i></a>
                              </div>
                              <div class="col-3">
                                  <a><i class="fa fa-comment-o fa-lg" aria-hidden="true"></i></a>
                              </div>
                              <div class="col-6">
                                  <p class="post-date">Posted On : 31/03/2020</p>
                              </div>
                          </div> -->
                      </div>
                  </div>
                </div>
            </div>
            <div class="col-6">
              <div class="card comment-card" style="width: 25rem;">
                  <!-- <div class="uk-card-body">
                      <form class="uk-grid-small" uk-grid>
                          <div class="uk-width-1-1@s">
                              <input class="uk-input text-center" type="text" placeholder="Whats your say ?" >
                          </div>
                          <div class="uk-width-1-1@s">
                              <input class="uk-input comment-button"  type="submit" value="Comment" >
                          </div>
                      </form>
                  </div> -->
                  <div  class="scroll" *ngFor = "let comment of post.comments">
                      <hr>
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                              <p class="comment-name">Manav Desai</p>
                              <p class="comment-text">abcd efgh hijk Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum doloremque hic, molestias autem veniam, cupiditate molestiae accusantium.</p>
                          </li>
                        </ul>
                  </div>
                </div>
            </div>
        </div>

        </div>
   <br>
   <br>
   <br>
</body>
</html>