<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook</title>
</head>
<body>

    <facebook-navbar [id]="userId"></facebook-navbar>
        <ngx-loading-bar [includeSpinner]="false"  color="#554CAD"></ngx-loading-bar>
        <div class="container-fluid">
        <div class="row">
            <div class="col-12">
              <div class="uk-card uk-card-default uk-card-body profile-card">
                  <div class="row">
                      <div class="col-12">
                         <img [attr.src]="profileImage | safe:'resourceUrl' " alt="" class="profile-pic-user">
                      </div>
                          
                  </div>
                  <div class="row">
                      <div class="col-12">
                          <h2 class="profile-name">{{name}}</h2>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                        <h2 class="profile-city">{{city}} ,India</h2>
                    </div>
                </div>
                  <div class="row">
                      <div class="col-12">
                        <button class="uk-button uk-button-default uk-button-edit">Edit Account</button>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-12">
                        <button class="uk-button uk-button-default uk-button-delete">Delete Account</button>
                      </div>
                  </div>
              </div>
            </div>
        </div>
        <div class="row" *ngFor="let post of wallPosts">
            <div class="col-6">
              <div class="post-card">
                  <div class="uk-card uk-card-post uk-card-default">
                      <div class="uk-card-media-top">
                          <img [src]="post.path" alt="" class="post-image">
                      </div>
                      <div class="uk-card-body">
                          <div class="row">
                              <div class="col-2">
                                  <img [attr.src]="profileImage | safe:'resourceUrl' " alt=""class="post-user">
                              </div>
                              <div class="col-10">
                                  <h2 class="post-name">{{name}}</h2>
      
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-12">
                                  <h3 class="post-content">{{post.caption}}</h3>
                              </div>
                          </div>
                          <!-- <div class="row">
                              <div class="col-3">
                                <a><i class="fa fa-heart-o fa-lg" aria-hidden="true"></i></a>
                              </div>
                              <div class="col-3">
                                  <a><i class="fa fa-comment-o fa-lg" aria-hidden="true"></i></a>
                              </div>
                              <div class="col-6">
                                  <p class="post-date">Posted On : 31/03/2020</p>
                              </div>
                          </div> -->
                      </div>
                  </div>
                </div>
            </div>
            <div class="col-6">
              <div class="card comment-card" style="width: 25rem;">
                  <!-- <div class="uk-card-body">
                      <form class="uk-grid-small" uk-grid>
                          <div class="uk-width-1-1@s">
                              <input class="uk-input text-center" type="text" placeholder="Whats your say ?" >
                          </div>
                          <div class="uk-width-1-1@s">
                              <input class="uk-input comment-button"  type="submit" value="Comment" >
                          </div>
                      </form>
                  </div> -->
                  <div  class="scroll" *ngFor = "let comment of post.comments">
                      <hr>
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                              <p class="comment-name">{{comment.profile.fname + ' '+comment.profile.lname}}</p>
                              <p class="comment-text">{{comment.text}}</p>
                          </li>
                        </ul>
                  </div>
                </div>
            </div>
        </div>

        </div>
   <br><br><br><br><br>
   <br><br><br><br><br>
   <br><br><br><br><br>

</body>
</html>