<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
    
        <div class="search-container">
            <div class="row">
                <div class="col-12">
                    <h2 class="search-title text-center">Search for friends</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-12">
                    <form>
                    <input class="uk-input" type="text" placeholder="Search......" (keyup.enter)="search($event)">
                    </form>
                </div>
            </div>
        </div>
    
    
    
        <div class="row" *ngIf="showFriends">
            <div class="col-12">
                <div class="card search-card" style="width: 38rem;">
                    <div class="card-header">
                      Results : {{profileLength}}
                    </div>
                    <ul class="list-group list-group-flush scroll"*ngFor="let prof of profile" >
                      <li class="list-group-item">
                          <div class="row">
                              <div class="col-2">
                                  <img [src]="prof.imagePath" alt="" class="profile">
                              </div>
                              <div class="col-6">
                                  <h2 class="friend-name">{{prof.fname +" "+prof.lname}}</h2>
                              </div>
                              <div class="col-4">
                                <button class="uk-button uk-button-default" (click)="sendRequest(prof)">Send Request</button>
                              </div>
                          </div>
                      </li>
                      <!-- <li class="list-group-item">
                        <div class="row">
                            <div class="col-2">
                                <img src="assets/img/man.jpg" alt="" class="profile">
                            </div>
                            <div class="col-6">
                                <h2 class="friend-name">Aditya Patel</h2>
                            </div>
                            <div class="col-4">
                              <button class="uk-button uk-button-default">Send Request</button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-2">
                                <img src="assets/img/man.jpg" alt="" class="profile">
                            </div>
                            <div class="col-6">
                                <h2 class="friend-name">Aditya Patel</h2>
                            </div>
                            <div class="col-4">
                              <button class="uk-button uk-button-default">Send Request</button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-2">
                                <img src="assets/img/man.jpg" alt="" class="profile">
                            </div>
                            <div class="col-6">
                                <h2 class="friend-name">Aditya Patel</h2>
                            </div>
                            <div class="col-4">
                              <button class="uk-button uk-button-default">Send Request</button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-2">
                                <img src="assets/img/man.jpg" alt="" class="profile">
                            </div>
                            <div class="col-6">
                                <h2 class="friend-name">Aditya Patel</h2>
                            </div>
                            <div class="col-4">
                              <button class="uk-button uk-button-default">Send Request</button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-2">
                                <img src="assets/img/man.jpg" alt="" class="profile">
                            </div>
                            <div class="col-6">
                                <h2 class="friend-name">Aditya Patel</h2>
                            </div>
                            <div class="col-4">
                              <button class="uk-button uk-button-default">Send Request</button>
                            </div>
                        </div>
                    </li> -->
                      
                    </ul>
                  </div>
            </div>
        </div>
        <br><br>
    <br><br>
    <br><br>
    </div>
    

</body>

</html>